@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic|Lato:100);

body {
    /*background: url('../img/darrenswings.jpg') no-repeat fixed;*/
    /*background-size: cover;*/
    background-color: #303030;
}
a {
    text-decoration: none;
    color: #27ae60;
}
a:hover {
    color: #2ecc71;
}
.center {

    text-align: center;
}
.container {
    text-align: center;
    font-family: 'Gudea';
    padding-bottom: 2em; 
}
.wrapper {
    padding:0.5em 0em 0em 1em;
    color: #bdc3c7;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    }
.poem-wrapper {
    max-width: 650px;
}
.info {
    margin-bottom: 0.5em;
}
.info a {
    text-decoration: none;
    color: #7f8c8d;
    }
    .info a:hover {
        color: #e74c3c;
    }

.griddly {
    /*background-color: rgba(0,0,0,0.5);*/
    margin: 0;
    padding-right: 1em;
    padding-left: 0;
    min-width: 200px;
    max-width: 220px;

    display: inline-block;
    vertical-align: top;
    }
.griddlus {
    padding: 0;
    margin:0;
    margin-right: 2em;
    display: inline-block;
    vertical-align: top;
}
h1 {
    font-family:'Lato';
    text-transform: uppercase;
    font-size: 3em;
    }
    h1 a {
        text-decoration: none;
        color: inherit;
    }
.list > span {
        margin-left: 0em;
}
.list a {
    text-decoration: none;
    }   
    .yella a {
        color: #f1c40f;
        }
        .yella a:hover {
            color: #f39c12;
        }
    .blue a {
        color: #3498db;
        }
        .blue a:hover {
            color: #2980b9;
        }
    .orange a, .orange {
        color: #e67e22;
        }
        .orange a:hover {
            color: #d35400;
        }
    .green a {
        color: #1abc9c;
        }
        .green a:hover {
            color: #16a085;
        }

.nav {
    margin-top: 2em;
}
.desc {
    margin-top: 5em;
    font-family: 'Lato';
    font-size: .8em;
}
.note {
    color: #7f8c8d;
}     
.prose-poem {
    font-weight: 400;
    max-width: 600px;
    line-height: 1.5em;
    font-size: 1em;
    color: #95a5a6;
}
.spacer {
    display: inline-block;
    height: 0;
    min-width: 3em;
}
.biopic {
    max-width: 380px;
}
.album-art {
    max-width: 600px;
}
