.ImageBackground {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .ImageBackground {
    background-position: 30% center;
  }
}
